.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #1e1e1e;
    color: white;
  }
  
  .resume h2 {
    font-size: 36px;
    margin-bottom: 20px;
    background: linear-gradient(248deg, #A50044 0.36%, #004D98 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .resume-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .resume-content a {
    padding: 10px 20px;
    background: linear-gradient(248deg, #A50044 0.36%, #004D98 100%);
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
  }
  
  .resume-content a:hover {
    background: linear-gradient(248deg, #004D98 0.36%, #A50044 100%);
  }
  
  .resume-content h3 {
    margin-bottom: 10px;
  }
  
  .resume-content ul {
    list-style: none;
    padding: 0;
  }
  
  .resume-content ul li {
    margin-bottom: 10px;
  }