.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Añadir para centrar verticalmente */
  height: 80vh; /* Ajusta la altura para centrar verticalmente el contenido en la pantalla */
  padding: 50px 20px;
  background-color: #F5F5F5; /* Light Gray */
  color: #333333; /* Dark Charcoal */
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  background: linear-gradient(248deg, #FFD700 0.36%, #006400 100%); /* Gold to Deep Green gradient */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-content {
  display: flex;
  flex-direction: column; /* Cambiado de row a column para apilar la imagen y el texto verticalmente */
  align-items: center;
  gap: 20px;
}

.about-content img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  max-width: 600px;
  text-align: center; /* Centrar el texto */
}