.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 50px 20px;
  background-color: #F5F5F5; /* Light Gray */
  color: #333333; /* Dark Charcoal */
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
  background: linear-gradient(248deg, #6d6d6b 0.36%, #30a35a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #278919; /* Green */
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #278919; /* Green */
  outline: none;
}

.form-group .error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  padding: 5px;
  background-color: #ffe6e6; /* Light Red */
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #278919; /* Green */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #FFD700; /* Gold */
}

@media (max-width: 480px) {
  .contact {
    padding: 20px 10px;
    height: auto;
  }

  .contact h2 {
    font-size: 28px;
  }

  .form-group {
    max-width: 100%;
  }

  button {
    width: 100%;
  }
}