.nav-tabs {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: black; /* Cambiar a negro */
  padding: 10px 15px;
}

.nav-link.active {
  color: green; /* Cambiar a verde cuando se haga clic */
  font-weight: bold;
}