.Gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Asegura que el contenido esté centrado verticalmente */
  height: 80vh; /* Ajusta la altura para centrar el contenido en la pantalla */
  padding: 50px 20px;
  background-color: #F5F5F5;
  color: white;
}

.Gallery h2 {
  font-size: 36px;
  margin-bottom: 20px;
  background: linear-gradient(248deg, #FFD700 0.36%, #006400 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Gallery-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.Gallery-item {
  background-color: #278919;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease; 
}

.Gallery-item:hover {
  transform: scale(1.15); 
}

.Gallery-item img {
  max-width: 100%;
  border-radius: 10px;
}

.Gallery-item h3 {
  margin: 10px 0;
}

.Gallery-item p {
  font-size: 16px;
}

.Gallery-item a {
  color: #FFD700; /* Cambia esto al color deseado */
  text-decoration: none; /* Remueve la subrayado del enlace */
}

.Gallery-item a:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el ratón sobre él */
}