.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content a {
    color: white;
    margin: 0 15px;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .footer-content a:hover {
    color: #ffcc00;
  }