* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #F5F5F5;
  color: #333333;
  font-family: 'Ubuntu';
}

.main-content {
  padding-top: 10px; /* Ajusta esto según la altura de tu header */
}
